
.Rhistory
Literature/Covid19Lio.bib.sav
df_covid_long.rds
df_covid_short.csv
df_covid_long.csv
df_covid_long.csv
df_covid_long.csv
.Rhistory
df_covid_long.csv
df_covid_long.csv
.Rhistory
Weather_new/wrongDate/02744099999.csv
Weather_new/wrongDate/02978099999.csv
Weather_new/wrongDate/06074099999.csv
Weather_new/wrongDate/06180099999.csv
Weather_new/wrongDate/07156099999.csv
Weather_new/wrongDate/07481099999.csv
Weather_new/wrongDate/10382099999.csv
Weather_new/wrongDate/10864499999.csv
Weather_new/wrongDate/11035099999.csv
Weather_new/wrongDate/11150099999.csv
Weather_new/wrongDate/11519099999.csv
Weather_new/wrongDate/11782099999.csv
Weather_new/wrongDate/14236099999.csv
Weather_new/wrongDate/14445099999.csv
Weather_new/wrongDate/14654099999.csv
Weather_new/wrongDate/26038099999.csv
Weather_new/wrongDate/26242099999.csv
Weather_new/wrongDate/37549099999.csv
Weather_new/wrongDate/40948099999.csv
Weather_new/wrongDate/41923099999.csv
Weather_new/wrongDate/48991099999.csv
Weather_new/wrongDate/62360199999.csv
Weather_new/wrongDate/62366099999.csv
Weather_new/wrongDate/64910099999.csv
Weather_new/wrongDate/65472099999.csv
Weather_new/wrongDate/68240099999.csv
Weather_new/wrongDate/71157099999.csv
Weather_new/wrongDate/71201099999.csv
Weather_new/wrongDate/71328099999.csv
Weather_new/wrongDate/71508099999.csv
Weather_new/wrongDate/71579099999.csv
Weather_new/wrongDate/71714099999.csv
Weather_new/wrongDate/71863099999.csv
Weather_new/wrongDate/78460099999.csv
Weather_new/wrongDate/78486099999.csv
Weather_new/wrongDate/78764099999.csv
Weather_new/wrongDate/78767099999.csv
Weather_new/wrongDate/80110099999.csv
Weather_new/wrongDate/80222099999.csv
Weather_new/wrongDate/83755099999.csv
Weather_new/wrongDate/84088099999.csv
Weather_new/wrongDate/84203099999.csv
Weather_new/wrongDate/85201099999.csv
Weather_new/wrongDate/85245099999.csv
Weather_new/wrongDate/85574099999.csv
Weather_new/wrongDate/85921299999.csv
Weather_new/wrongDate/86715099999.csv
Weather_new/wrongDate/86910099999.csv
Weather_new/wrongDate/87344099999.csv
Weather_new/wrongDate/87582099999.csv
Weather_new/wrongDate/94610099999.csv
Weather_new/wrongDate/94675099999.csv
Weather_new/wrongDate/Alaska.csv
Weather_new/wrongDate/Athens.csv
Weather_new/wrongDate/Brisbane.csv
Weather_new/wrongDate/Chicago.csv
Weather_new/wrongDate/LA.csv
Weather_new/wrongDate/LasVegas.csv
Weather_new/wrongDate/Melbourne.csv
Weather_new/wrongDate/Miami.csv
Weather_new/wrongDate/NewOrleans.csv
Weather_new/wrongDate/NewYork.csv
Weather_new/wrongDate/NorthCarolina.csv
Weather_new/wrongDate/Philadelphia.csv
Weather_new/wrongDate/Sydney.csv
Weather_new/wrongDate/Thessaloniki.csv
Weather_new/wrongDate/Washington.csv
Weather_new/weather.rds
Weather_new/weather_dir.csv
Weather_new/WeatherJan-Jun-2020.rdata.RData
Weather_new/WeatherJan-Jun-2020.csv
Cities/worldcitiespop.csv
.Rhistory
GWMP2.rds
gwmp.rds
